
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif !important;
	color: $black;
	font-weight: 500;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
