
* {
	outline: 1px solid red;
}
.container{
	@include center;
  max-width: 1200px;
  height: 100%;
  padding: 0 15px;
	display: flex;
  justify-content:center;
  align-items: center;
	@media screen and (min-width:1024px){
		&{
			padding: 0 ;
		}
  }
}
/*-------------------------*/
/* module
---------------------------*/
.txt{
	h1{
		font-size: $font-xl;
		line-height: 106px;
	}
}
.title{
	@include fontSize(64px , 84px);
	text-align: center;
}






/*-------------------------*/
/* header
---------------------------*/
.header{
	height: 100vh;
  background-image: url("../../images/photo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	color:$white;
	@media screen and (min-width:768px){
		height: 758px;
	}	
	.socialGroup{
		display: flex;
		justify-content: center;
	}
	.socialGroup li + li{
		margin-left: 16px;
	}
}
/*-------------------------*/
/* about
---------------------------*/
.about{
	padding: 56px 0;
	.txt{
		text-align: center;
	}
	.title{
		margin-bottom: 40px;
	}
	img{
		@include center;
		margin-bottom: 20px;
	}
	.name{
		margin-bottom: 4px;
	}
	.aboutGroup{
		@include center;
		max-width: 384px;
		border-top: 1px solid $black;
		padding-top: 28px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.itemGroup＿item{
		position: relative;
		margin-bottom: 28px;
		&:before{
			@include width(22px , 22px);
			content:"";
			background-color: $primary;
			position: absolute;
			top: 50%;
			left: -38px;
			border-radius: 50%;
			transform: translateY(-50%);
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
		}
	}
}









/*-------------------------*/
/* footer
---------------------------*/
.footer{
	.subTitle-white{
		margin-bottom: 32px;
	}
	.content{
		font-weight: 300;
	}
	a{
		color: $white;
		word-break: break-all;
	}
	.icon-group{
		display: flex;
		justify-content: center;
	}
	.icon-group li + li{
		margin-left: 24px;
	}
}
/*-------------------------*/
/* utilities
---------------------------*/
.fw-700{
	font-weight: 700;
}
.fw-900{
	font-weight: 900;
}
.font-normal{
	font-style: normal;
}
.bg-white{
	background-color:$white;
}
.bg-dark{
	background-color:$black;
}
.lh-sm{
	line-height: 30px;
}
.lh-m{
	line-height: 36px;
}
.mt-1{
	margin-top: 8px !important;
}
.mt-2{
	margin-top: 16px !important;
}
.mt-3{
	margin-top: 24px !important;
}
.mt-4{
	margin-top: 32px !important;
}
.mb-0{
	margin-bottom: 0px !important;
}
.mb-1{
	margin-bottom: 8px !important;
}
.mb-2{
	margin-bottom: 16px !important;
}
.mb-3{
	margin-bottom: 24px !important;
}
.mb-4{
	margin-bottom: 32px !important;
}
.mb-5{
	margin-bottom: 40px !important;
}
.mb-9{
	margin-bottom: 72px !important;
}
.ms-1{
	margin-left: 8px !important;
}
.ms-2{
	margin-left: 16px !important;
}
.ms-3{
	margin-left: 24px !important;
}
