
* {
	// outline: 1px solid red;
}
.container{
	@include center;
  max-width: 1200px;
  height: 100%;
  padding: 0 15px;
	display: flex;
  justify-content:center;
  align-items: center;
	@media screen and (min-width:1024px){
		&{
			padding: 0 ;
		}
  }
}
/*-------------------------*/
/* module
---------------------------*/
.txt{
	h1{
		font-size: $font-xl;
		line-height: 106px;
	}
}
.txt-white{
	color: $white;
}
.title{
	@include fontSize(64px , 84px);
	text-align: center;
}
.picture{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.picture＿item {
		width: 100%;
	}
	img{
		width: 100%;
	}
}
%fz-20{
	font-size: 20px;
	font-style: normal;
}
/*-------------------------*/
/* header
---------------------------*/
.header{
	height: 100vh;
  background-image: url("../../images/photo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	color:$white;
	@media screen and (min-width:768px){
		height: 758px;
	}	
	.socialGroup{
		display: flex;
		justify-content: center;
	}
	.socialGroup li + li{
		margin-left: 16px;
	}
}
/*-------------------------*/
/* about
---------------------------*/
.about{
	padding: 56px 0;
	.title{
		margin-bottom: 40px;
	}
	img{
		@include center;
		margin-bottom: 20px;
	}
	.name{
		margin-bottom: 4px;
	}
	.aboutGroup{
		@include center;
		max-width: 384px;
		border-top: 1px solid $black;
		padding-top: 28px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.itemGroup＿item{
		position: relative;
		margin-bottom: 28px;
		&:before{
			@include width(16px , 16px);
			content:"";
			background-color: $primary;
			position: absolute;
			top: 50%;
			left: -22px;
			transform: translateY(-50%);
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			@media screen and (min-width:768px){
				@include width(22px , 22px);
				left: -38px;
			}
		}
	}
}
/*-------------------------*/
/* brand
---------------------------*/
.brand{
	padding: 56px 0 120px 0;
	.title{
		margin-bottom: 12px;
	}
	.brandGroup{
		@extend %fz-20;
		margin-bottom: 68px;
	}
	.brandPic＿item:first-child{
		@media screen and (min-width:768px){
			width: auto; 
			margin: 0 auto;
		}
	}
	.brandPic＿item:nth-child(2),
	.brandPic＿item:nth-child(3){
		@media screen and (min-width:768px){
			max-width: calc(50% - 12px);
		}
	}
}
/*-------------------------*/
/* works
---------------------------*/
.works{
	padding: 56px 0  96px 0;
	.worksGroup{
		@extend %fz-20;
		margin-bottom: 56px;
	}
	.worksPic＿item{
		@media screen and (min-width:768px){
			max-width: calc(33.333% - 12px);
		}
		&:nth-child(4),
		&:nth-child(5){
			@media screen and (min-width:768px){
				max-width: calc(50% - 12px);
			}
		}
		p{
			font-size: 20px;
			color: $black;
			font-style: normal;
		}
	}
}
/*-------------------------*/
/* footer
---------------------------*/
.footer{
	padding: 64px 0  56px 0;
	a{
		color: $white;
	}
}
/*-------------------------*/
/* utilities
---------------------------*/
.fw-700{
	font-weight: 700;
}
.fw-900{
	font-weight: 900;
}
.font-normal{
	font-style: normal;
}
.font-italic{
	font-style: italic;
}
.text-center{
	text-align: center;
}
.bg-white{
	background-color:$white;
}
.bg-dark{
	background-color:$black;
}
.lh-sm{
	line-height: 30px;
}
.lh-m{
	line-height: 36px;
}
.mt-1{
	margin-top: 8px !important;
}
.mt-2{
	margin-top: 16px !important;
}
.mt-3{
	margin-top: 24px !important;
}
.mt-4{
	margin-top: 32px !important;
}
.mb-0{
	margin-bottom: 0px !important;
}
.mb-1{
	margin-bottom: 8px !important;
}
.mb-2{
	margin-bottom: 16px !important;
}
.mb-3{
	margin-bottom: 24px !important;
}
.mb-4{
	margin-bottom: 32px !important;
}
.mb-5{
	margin-bottom: 40px !important;
}
.mb-6{
	margin-bottom: 48px !important;
}
.mb-9{
	margin-bottom: 72px !important;
}
.ms-1{
	margin-left: 8px !important;
}
.ms-2{
	margin-left: 16px !important;
}
.ms-3{
	margin-left: 24px !important;
}
