@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 24px;
    line-height: 42px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
  }
}

/*-------------------------*/
/* module
---------------------------*/
.txt h1 {
  font-size: 80px;
  line-height: 106px;
}

.txt-white {
  color: #fff;
}

.title {
  font-size: 64px;
  line-height: 84px;
  text-align: center;
}

.picture {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.picture .picture＿item {
  width: 100%;
}

.picture img {
  width: 100%;
}

.brand .brandGroup, .works .worksGroup {
  font-size: 20px;
  font-style: normal;
}

/*-------------------------*/
/* header
---------------------------*/
.header {
  height: 100vh;
  background-image: url("../../images/photo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    height: 958px;
  }
}

.header .socialGroup {
  display: flex;
  justify-content: center;
}

.header .socialGroup li + li {
  margin-left: 16px;
}

/*-------------------------*/
/* about
---------------------------*/
.about {
  padding: 56px 0;
}

.about .title {
  margin-bottom: 40px;
}

.about img {
  margin: 0 auto;
  margin-bottom: 20px;
}

.about .name {
  margin-bottom: 4px;
}

.about .aboutGroup {
  margin: 0 auto;
  max-width: 384px;
  border-top: 1px solid #000;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .itemGroup＿item {
  position: relative;
  margin-bottom: 28px;
}

.about .itemGroup＿item:before {
  width: 16px;
  height: 16px;
  content: "";
  background-color: #891818;
  position: absolute;
  top: 50%;
  left: -22px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .about .itemGroup＿item:before {
    width: 22px;
    height: 22px;
    left: -38px;
  }
}

/*-------------------------*/
/* brand
---------------------------*/
.brand {
  padding: 56px 0 120px 0;
}

.brand .title {
  margin-bottom: 12px;
}

.brand .brandGroup {
  margin-bottom: 68px;
}

@media screen and (min-width: 768px) {
  .brand .brandPic＿item:first-child {
    width: auto;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .brand .brandPic＿item:nth-child(2),
  .brand .brandPic＿item:nth-child(3) {
    max-width: calc(50% - 12px);
  }
}

/*-------------------------*/
/* works
---------------------------*/
.works {
  padding: 56px 0  96px 0;
}

.works .worksGroup {
  margin-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .works .worksPic＿item {
    max-width: calc(33.333% - 12px);
  }
}

@media screen and (min-width: 768px) {
  .works .worksPic＿item:nth-child(4), .works .worksPic＿item:nth-child(5) {
    max-width: calc(50% - 12px);
  }
}

.works .worksPic＿item p {
  font-size: 20px;
  color: #000;
  font-style: normal;
}

/*-------------------------*/
/* footer
---------------------------*/
.footer {
  padding: 64px 0;
}

.footer a {
  color: #fff;
}

/*-------------------------*/
/* utilities
---------------------------*/
.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.font-normal {
  font-style: normal;
}

.font-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #000;
}

.lh-sm {
  line-height: 30px;
}

.lh-m {
  line-height: 36px;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}

.mt-4 {
  margin-top: 32px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mb-5 {
  margin-bottom: 40px !important;
}

.mb-6 {
  margin-bottom: 48px !important;
}

.mb-9 {
  margin-bottom: 72px !important;
}

.ms-1 {
  margin-left: 8px !important;
}

.ms-2 {
  margin-left: 16px !important;
}

.ms-3 {
  margin-left: 24px !important;
}
/*# sourceMappingURL=all.css.map */